$light-ash: #dadee3;
$soft-brown: #c5a482;
$orange-brown: #ad6544;
$light-blue-green: #d1f0f0;
$dark-blue-green: #2b5454;
$black: #151a1a;

.navbar {
  height: 50px;
  border-bottom: 2px solid $light-ash;
  display: flex;
  align-items: center;
  font-size: 14px;
  color: #888;

  .wrapper {
    width: 100%;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .search {
      display: flex;
      align-items: center;
      border: 0.5px solid $light-ash;
      padding: 3px;

      input {
        border: none;
        outline: none;
        background-color: transparent;

        &::placeholder {
          font-size: 12px;
        }
      }
    }

    .items {
      display: flex;
      align-items: center;

      .item {
        display: flex;
        align-items: center;
        margin-right: 20px;
        position: relative;
        cursor: pointer;

        .icon {
          font-size: 20px;
        }

        .avatar {
          width: 30px;
          height: 30px;
          border-radius: 50%;
        }

        .counter {
          width: 15px;
          height: 15px;
          background-color: $orange-brown;
          border-radius: 50%;
          color: white;
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 10px;
          font-weight: bold;
          position: absolute;
          top: -5px;
          right: -5px;
        }
      }
    }
  }
}
