$light-ash: #dadee3;
$soft-brown: #c5a482;
$orange-brown: #ad6544;
$light-blue-green: #d1f0f0;
$dark-blue-green: #2b5454;
$black: #151a1a;

.chart {
  flex: 4;
  -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
  box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
  padding: 20px;
  border-radius: 10px;
  color: gray;

  .title {
    margin-bottom: 20px;
  }

  .chartGrid {
    stroke: $light-ash;
  }
}
